<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="suiteDllAlias" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <suiteDllAlias>
    <add key="Framework" value="Nunit" />
    <add key="docmodel" value="Nunit" />
    <add key="apiupdater" value="Nunit" />
    <add key="buildsystem" value="Nunit" />
    <add key="performance-editor" value="performance-integration" />
  </suiteDllAlias>
</configuration>
